<div id="view">
		<h1>About us</h1>
<div class="posttext">
	<table>
		<tr><td><%= image_tag "itm2.png", :class => "itm2"%></td><td><p><b>Dr. Atsushi TAKABAYASHI ( Hokkaido university )</b><br>A project leader</p></td></tr>
		<tr><td><%= image_tag "itm2.png", :class => "itm2"%></td><td><p><b>Saeka TAKABAYASHI ( Hokkaido university )</b><br>A main contributor for construction of this database</p></td></tr>
		<tr><td><%= image_tag "itm2.png", :class => "itm2"%></td><td><p><b>Prof. Ayumi TANAKA ( Hokkaido university )</b><br>A project supervisor</p></td></tr>
	</table>
</div>
</div>
