<div id="view">
		<h2>gene_id</h2>
		<div class="posttext">
		<p>　　examples of the input value  are as follows</p>
	
		<table class="help_table">
			<tr>
					<th >Organism</td>
					<th >examples of the input value</td>
			</tr>
			<tr>
					<td class="colm_name"><i>Arabidopsis thaliana</i></td>
					<td class="example">AT1G03130,AT1G03630,…</td>
			</tr>
			<tr>
					<td class="colm_name" rowspan="3"><i>Physcomitrella patens</i></td>
					<td class="example">PhpapaCp001,PhpapaCp002,…</td>
			 </tr>
				<tr><td class="example">PhpafMp03,PhpafMp04,…</td></tr>
				<tr><td class="example">Pp1s100_107V6,Pp1s100_117V6,…</td></tr>
			
			<tr>
					<td class="colm_name" rowspan="4"><i>Chlamydomonas reinhardtii</i></td>
					<td class="example">ChreCp001,ChreCp002,…</td>
			</tr>
			<tr><td class="example">ChrepMp03,ChrepMp04</td></tr>
			<tr><td class="example">Cre01.g000350,Cre01.g000900,…</td></tr>
			<tr><td class="example">g10003,g10013,…</td></tr>
			<tr>
					<td class="colm_name"  ><i>Synechosystis sp. PCC6803</i></td>
					<td class="example">sll0002,sll0005,…</td>
			</tr>
			<tr>
					<td class="colm_name"  ><i>Thermosynechococcus elongatus BP-1</i></td>
					<td class="example">B9A0M2,P0A3X9,…</td>
			</tr>
			<tr>
					<td class="colm_name"  ><i>Prochlorococcus marinus CCMP1986</i></td>
					<td class="example">PMM0001,PMM0004 ,…</td>
			</tr>
			<tr>
					<td class="colm_name"  ><i>Prochlorococcus marinus CCMP1375</i></td>
					<td class="example">Pro0001,Pro0003 ,…</td>
			</tr>
			<tr>
					<td class="colm_name"  ><i>Prochlorococcus marinus CCMP2773</i></td>
					<td class="example">PMT0001,PMT0003 ,…</td>
			</tr>

		</table>
		</div>
</div>


