<div id="view">
<h1>Help / Tutorial</h1>
<div class="posttext">
<br>
<h3 class="t3">Help</h3>
<ul>
<li class="itm"><%= link_to "Help",{:controller => "proteins",:action=>"helpdoc"} %>
</ul>
<br>
<br>
<h3 class="t3">Tutorial</h3>
<ul>
<li class="itm"><%= link_to "Tutorial 1",{:controller => "proteins",:action=>"tutorial1"} %>：Finding interact partners (ACR11) with Fd-GOGAT(Glu1)
<li class="itm"><%= link_to "Tutorial 2",{:controller => "proteins",:action=>"tutorial2"} %>：Comparison of protein migration profiles (ACR11 and Fd-GOGAT (Glu1)
：Finding interact partners (ACR11) with Fd-GOGAT(Glu1)
</ul> 
<br>
<br>

</div>
</div>


