<div id="view">
		<h1>Resources</h1>
<div class="posttext">
		<p>resources of PCoM  are as follows</p>
	
		<table class="resources_table">
			<tr>
					<th >Organism</td>
					<th >Resources</td>
			</tr>
			<tr>
					<td class="organism"><i>Arabidopsis thaliana</i></td>
					<td class="data">TAIR10 annotation from TAIR <br>( <a href="http://www.arabidopsis.org">http://www.arabidopsis.org/</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Physcomitrella patens</i></td>
					<td class="data">Physcomitrella patens v1.6 annotation from Phytozome <br>( <a href="http://www.phytozome.com/">http://www.phytozome.com/</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Chlamydomonas reinhardtii</i></td>
					<td class="data">Chlamydomonas v5.3 annotation from Phytozome <br>( <a href="http://www.phytozome.com/">http://www.phytozome.com/</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Synechosystis sp.</i> PCC6803</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Thermosynechococcus elongatus</i> BP-1</td>
					<td class="data">UniProt <br>( <a href="http://www.uniprot.org/taxonomy/197221">http://www.uniprot.org/taxonomy/197221</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Prochlorococcus</i> CCMP1986</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Prochlorococcus</i> CCMP1375</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
			<tr>
					<td class="organism"><i>Prochlorococcus</i> CCMP2773</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
		</table>
</div>
</div>


